// Colors
$color: (
    light: #ffffff,
    dark: #000000,
    text_light: #ffffff,
    text_dark: #000000,
    purple_:#6f42c1,
    purple_subtle: #6f42c160,
    purple-subtle_semi: #6f42c150,
);

// Border-radius
$radius: (
    low: 10px,
    middle: 15px,
    peak: 20px
);