@use "../base/index.scss" as *;
@use "sass:map";

.quote{
    & main{
        background: map.get($color, retro);
        font-family: map.get($family, font-berkshire);
        & h3{
            font-variant: small-caps;
        }
    }
}